{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{% bootstrap_messages %}

<div class="container">
  <h1>Board Dash</h1>

  <h2>Find your board</h2>
  {% for board in boards %}
    <div class="btn-group dropdown">
      <a class="btn btn-secondary btn-lg dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ board.title }}:
      </a>
      
      <div class="dropdown-menu pre-scrollable" aria-labelledby="dropdownMenuLink">
        {% for i in board.boards %}
        <a class="dropdown-item" href="/boards/{{board.slug}}_{{i}}">Community Board {{i}}</a>
        {% endfor %}
      </div>
    </div>
   {% endfor %}

  <div class="pt-3">
    Unsure of your community board?
    <a href="https://communityprofiles.planning.nyc.gov">Look it up here</a>
  </div>
</div>
